<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET TOP SONGS</title>
</head>
<body>
<form method="POST" action="/send_data">
    <div class="form-group">
        <p>ENTER DATE(yyyy-mm-dd):-<input type="date" name="Date"> </p>
    </div>
    <input class="btn btn-primary" type="submit" value="SUBMIT">
</form>
<!--<form method="GET" action="/get_data">-->
<!--    <div class="form-group">-->
<!--        -->
<!--        -->
<!--    </div>-->
<!--    -->
<!--</form>-->
</body>
</html>